@model ArtMuseum.Models.Artist
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@{
    ViewData["Title"] = "Create Artist";
}

<h2>Create Artist</h2>

<form asp-action="Create" asp-controller="Artist" asp-area="Manage" method="post" class="mt-4">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Biography" class="form-label"></label>
        <textarea asp-for="Biography" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Nation" class="form-label"></label>
        <input asp-for="Nation" class="form-control" />
        <span asp-validation-for="Nation" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BirthDate" class="form-label"></label>
        <input asp-for="BirthDate" type="date" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

